h1 {
    text-align: center;
    font-size: 2rem;
}

#submitButton {
    margin-top: 20px;
}

#myCheckbox {
    margin-left: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
}