.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #4cb0df;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .choose-email {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color:#3498db;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  .login-button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: #e74c3c;
    margin-bottom: 10px;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  /* ... (rest of the styles) */
  .input-label {
    margin-right: 100px; /* Ajustez la valeur selon vos besoins */
}